body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}


html, body {
    height: 100%;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

.error{
    color: red;
}

.error_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 20%;
}

#new_here{
    margin-top: 1rem;
}
.form{
    width: 100%;
    position: fixed;
    top: 20%;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}



.panel-default.well{
    display: flex;
    border: 1px none #C5C8CB;
    border-bottom-style: solid;
    height: 110px;
    padding: 10px 0;
}

.col-md-9{
    flex: none;
    max-width: 55%;
}

.card-deck .card{
    flex:none;
    margin-bottom: 10px;
    width: 20%;
}

.panel-heading{
    width: 45%;
}

.row.panel-body .col-md-11{
    flex: none;
    max-width: 88%!important;
}

.row.panel-body{
    margin-top: 1rem;
}

.sections-wrap{
    width: 100%;
    text-align: center;
    display: flex;
}

.pagination_list{
    display: flex;
    justify-content: center;
}

.pagination_list .pagination{
    margin-right: 10px;
}

.table{
    display: flex;
    justify-content: center;
}

.content-wrapper .item-container .container .col-md-12{
    max-width: 50%;
}

.container.pic{
    display: flex;
}

.container.pic #item-display{
    width: 500px;
}

.product-title{
    color: #007bff;
    font-weight: bold;
    font-size: x-large;
}