#gantt_here{
    margin-left: auto;
    margin-right: auto;
}
.sections-wrap{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form form {
    margin-top: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#form form {
    margin-top: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
