<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Работники</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="sections-wrap">
    <!--<a th:href="@{/employee/add}">Add new employee</a>-->
    <h1 th:if="${employees.isEmpty()}">Нет зарегистрированных работников</h1>
    <p th:if="${employees.isEmpty()}">Используйте <a th:href="@{/register}">страницу регистрации</a></p>
    <table class="table">
        <thead>
        </thead>
        <tbody>
        <tr  th:each="emp: ${employees}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.username}"></td>
            <td><a th:href="@{/employee/{id}/tasks(id=${emp.id})}" class="btn btn-primary">Tasks</a></td>
            <td><a th:href="@{/employee/{id}(id=${emp.id})}" class="btn btn-primary">Edit</a></td>
            <td>
                <form th:action="@{/employee/{id}/delete(id=${emp.id})}" method="post">
                    <button type="submit" class="btn btn-primary" >Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>