<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход в систему</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body class="text-center">
<!-- tag::thAction[] -->
<div class="form">
    <form class="form" id="loginForm" method="POST" th:action="@{/login}">
        <h1 class="h3 mb-3 font-weight-normal">Вход в систему</h1>
        <!-- end::thAction[] -->
        <label class="sr-only" for="username">Логин</label>
        <input autofocus="" class="form-control" id="username" name="username" placeholder="Логин" required=""
               type="text"/><br/>
        <label class="sr-only" for="password">Пароль</label>
        <input class="form-control" id="password" name="password" placeholder="Пароль" required="" type="password"/><br/>
        <div th:if="${param.error}" class="error">
            Ошибка при входе. Проверьте правильность логина и пароля.
        </div>
        <p id="new_here">Не зарегистрированы? Нажмите
            <a th:href="@{/register}">сюда</a> для регистрации.</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Войти</button>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>
</div>

</body>
</html>