<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заказы</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <link rel="stylesheet" href="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" type="text/css">
    <script src="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/ganttinit.js}" defer></script>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div id="gantt_here" style="display: none" th:if="${orders.size==0}"></div>
<div id="gantt_here" th:if="${orders.size!=0}"></div>
<div class="sections-wrap">
    <div class="row h-100 align-items-center">
        <a class="btn btn-primary" th:href="@{/manager/order/add}">Добавить новый заказ</a>
        <a class="btn btn-primary" th:href="@{/manager/report/daily}">Отчет по задачам за текущий день</a>
        <a class="btn btn-primary" th:href="@{/manager/report/monthly}">Отчет по задачам за текущий месяц</a>
        <a class="btn btn-primary" th:href="@{/manager/report/employee/daily}">Отчет по работникам за текущий день</a>
        <a class="btn btn-primary" th:href="@{/manager/report/employee/monthly}">Отчет по работникам за текущий месяц</a>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.name}"></td>
                <td><a th:href="@{/manager/order/{id}/manage(id=${order.id})}" class="btn btn-primary">Управление</a></td>
                <td>
                    <form th:action="@{/manager/order/{id}/delete(id=${order.id})}" method="post">
                        <button type="submit" class="btn btn-primary" >Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>